body{
    height: 100vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.toggle_btn{
    color: crimson;
    padding-top: 20px;
    font-size: 50px;
    text-align: right;
}

.side-nav{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 20;
    width: 0px;
    height: 100vh;
    overflow: hidden;
    padding-top: 120px;
    transition: 0.5s;
}
.side-nav a{
    display: block;
    text-decoration: none;
    text-align: right;
    color: #999;
    padding: 15px;
    font-size: 30px;
    padding-right: 40px;
    transition: 0.3s;
}
.side-nav a:hover{
    color: #000000;
}
.side-nav i{
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.image{
    position: absolute;
    bottom: 0;
    height: 90vh;
    opacity: 0.5;
}

.text{
    color: #ccc;
    padding-top: 50px ;
    font-size: 55px;
}
.text .name{
    color: crimson;
}
.text p{
    font-size: 30px;
    padding-top: 55px;
}

.social{
    position: absolute;
}
.social i{
    color: #ccc;
    display: block;
    font-size: 30px !important;
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;
}
.social i:hover{
    color: crimson;
}

#overlay{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}